<template>
  <div class="app-container">
    <div class="filter-container">
      <el-input :placeholder="$t('table.title')" v-model="listQuery.title" style="width: 200px;" class="filter-item" @keyup.enter.native="handleFilter"/>
      <el-button v-waves class="filter-item" type="primary" icon="el-icon-search" @click="handleFilter">{{ $t('table.search') }}</el-button>
      <el-button class="filter-item" style="margin-left: 10px;" type="primary" icon="el-icon-edit" @click="handleCreate">{{ $t('table.add') }}</el-button>
    </div>

    <el-table
      v-loading="listLoading"
      :key="tableKey"
      :data="list"
      border
      fit
      highlight-current-row
      style="width: 100%;"
    >
      <el-table-column :label="$t('table.id')" prop="id" align="center" width="65">
        <template slot-scope="scope">
          <span>{{ scope.row.id }}</span>
        </template>
      </el-table-column>
      <!--</el-table-column>-->
      <el-table-column label="Name" align="center">
        <template slot-scope="scope">
          <span>{{ scope.row.first_name + ' ' + scope.row.last_name }}</span>
        </template>
      </el-table-column>
      <el-table-column label="Image" align="center">
        <template slot-scope="scope">
          <img :src="baseURL+ '/api/img/' +scope.row.image" width="50px">
        </template>
      </el-table-column>
      <el-table-column :label="$t('table.actions')" align="center" width="230" class-name="small-padding fixed-width">
        <template slot-scope="scope">
          <el-button type="primary" @click="handleUpdate(scope.row)">{{ $t('table.edit') }}</el-button>
          <el-button
            type="danger"
            @click="handleDelete(scope.row)">{{ $t('table.delete') }}
          </el-button>
        </template>
      </el-table-column>
    </el-table>

    <pagination v-show="total>0" :total="total" :page.sync="listQuery.page" :limit.sync="listQuery.limit" @pagination="getList" />

    <el-dialog :title="textMap[dialogStatus]" :visible.sync="dialogFormVisible">
      <el-form ref="dataForm" :rules="rules" :model="temp" label-position="left" label-width="150px" style="width: 400px; margin-left:50px;">
        <el-form-item label="First Name" prop="first_name">
          <el-input v-model="temp.first_name" type="text" placeholder="Enter your first name" />
        </el-form-item>
        <el-form-item label="Last Name" prop="last_name">
          <el-input v-model="temp.last_name" type="text" placeholder="Enter your last name"/>
        </el-form-item>
        <div style="margin-left: 70px">
          <el-form-item prop="file">
            <el-button style="margin: 0; cursor: pointer">
              <label style="cursor: pointer"><span v-if="!ur">Add</span>
                <span v-else>Edit</span>
                <input
                  type="file"
                  style="visibility: hidden; width: 30px"
                  @change="imageChanged"></label>
            </el-button>
            <div style="margin-top: 20px">
              <img v-if="ur" :src="ur" width="100px">
            </div>
          </el-form-item>
        </div>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false; ur=null">{{ $t('table.cancel') }}</el-button>
        <el-button type="primary" @click="dialogStatus==='create'?createData():updateData()">{{ $t('table.confirm') }}
        </el-button>
      </div>
    </el-dialog>
  </div>
</template>

<script>
import { fetchList, createArticle, updateArticle, deleteArticle } from '@/api/article'
import waves from '@/directive/waves' // Waves directive
import Pagination from '@/components/Pagination'

export default {
  name: 'ComplexTable',
  components: { Pagination },
  directives: { waves },
  filters: {
    statusFilter(status) {
      const statusMap = {
        published: 'success',
        draft: 'info',
        deleted: 'danger'
      }
      return statusMap[status]
    }
  },
  data() {
    const validateFile = (rule, value, callback) => {
      if (this.type !== 'image' && this.ur === '') {
        return callback(new Error('please enter a valid image'))
      } else { return callback() }
    }
    return {

      baseURL: process.env.BASE_API,
      // baseURL: 'http://crud.test/api/', // api 的 base_url
      ur: '',
      type: '',
      tableKey: 0,
      list: null,
      total: 0,
      listLoading: true,
      listQuery: {
        page: 1,
        limit: 20,
        title: undefined
      },
      temp: {
        id: undefined,
        first_name: '',
        last_name: '',
        image: ''
      },
      dialogFormVisible: false,
      dialogStatus: '',
      textMap: {
        update: 'Edit',
        create: 'Create'
      },
      dialogPvVisible: false,
      rules: {
        first_name: [{ required: true, message: 'First Name is required', trigger: 'blur' }],
        last_name: [{ required: true, message: 'Last Name is required', trigger: 'blur' }],
        file: [{ validator: validateFile, trigger: 'blur' }]
      }

    }
  },
  created() {
    this.getList()
  },
  methods: {

    getList() {
      this.listLoading = true
      fetchList(this.listQuery).then(response => {
        this.list = response.data.data
        this.total = response.data.meta.total
        setTimeout(() => {
          this.listLoading = false
        }, 1.5 * 1000)
      })
    },
    handleFilter() {
      this.listQuery.page = 1
      this.getList()
    },
    resetTemp() {
      this.temp = {
        id: undefined,
        importance: 1,
        remark: '',
        timestamp: new Date(),
        title: '',
        status: 'published',
        type: ''
      }
      this.ur = ''
    },
    imageChanged(e) {
      const arr = e.target.files[0].type.split('/')
      this.type = arr[0]
      this.$refs['dataForm'].validate(valid => {
      })
      if (this.type !== 'image') {
        this.ur = ''
        return
      }
      this.ur = URL.createObjectURL(e.target.files[0])
      const fileReader = new FileReader()
      fileReader.readAsDataURL(e.target.files[0])
      fileReader.onload = (e) => {
        this.temp.image = e.target.result
      }
    },
    handleCreate() {
      this.resetTemp()
      this.dialogStatus = 'create'
      this.dialogFormVisible = true
      this.$nextTick(() => {
        this.$refs['dataForm'].clearValidate()
      })
    },
    createData() {
      this.$refs['dataForm'].validate((valid) => {
        if (valid) {
          createArticle(this.temp).then(response => {
            this.ur = null
            this.temp = response.data
            this.list.unshift(this.temp)
            this.dialogFormVisible = false
            this.$notify({
              title: 'Created',
              message: 'Created successfully',
              type: 'success',
              duration: 2000
            })
          })
        }
      })
    },
    handleUpdate(row) {
      this.temp = Object.assign({}, row) // copy obj
      this.ur = this.baseURL + '/api/img/' + this.temp.image
      this.temp.image = null
      this.dialogStatus = 'update'
      this.dialogFormVisible = true
      this.$nextTick(() => {
        this.$refs['dataForm'].clearValidate()
      })
    },
    updateData() {
      this.$refs['dataForm'].validate((valid) => {
        if (valid) {
          const tempData = Object.assign({}, this.temp)
          updateArticle(tempData, this.temp.id).then((response) => {
            this.temp = response.data
            for (const v of this.list) {
              if (v.id === this.temp.id) {
                const index = this.list.indexOf(v)
                this.list.splice(index, 1, this.temp)
                break
              }
            }
            this.dialogFormVisible = false
            this.$notify({
              title: 'Update',
              message: 'Updated successfully',
              type: 'success',
              duration: 2000
            })
          })
        }
      })
    },
    handleDelete(row) {
      deleteArticle(row.id).then(response => {
      }).then(() => {
        this.$notify({
          title: 'Delete',
          message: 'Deleted Succesfully',
          type: 'success',
          duration: 2000
        })
        const index = this.list.indexOf(row)
        this.list.splice(index, 1)
      },
      )
    }
  }
}
</script>
